<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Suite1" verbose="1" >
    <test name="Android">
        <classes>
            <class name="android.tc.Verify_SaveContact" />
        </classes>
    </test>
    <test name="iOS">
        <classes>
            <class name="ios.tc.Verify_ActionSheet" />
        </classes>
    </test>
</suite>